
[submodule "Examples"]
	path = Examples
	url = https://github.com/BearishSun/B3DExamples
[submodule "Tools/BansheeCodeGenerator"]
	path = Tools/BansheeCodeGenerator
	url = https://github.com/BearishSun/BansheeCodeGenerator
[submodule "Tools/BansheeForge"]
	path = Tools/BansheeForge
	url = https://github.com/BearishSun/BansheeForge.git
[submodule "Tools/BansheeDocGenerator"]
	path = Tools/BansheeDocGenerator
	url = https://github.com/BearishSun/BansheeDocGenerator.git
