
[submodule "Examples"]
	path = Examples
	url = https://github.com/GameFoundry/B3DFrameworkExamples
[submodule "Tools/BansheeCodeGenerator"]
	path = Tools/BansheeCodeGenerator
	url = https://github.com/GameFoundry/B3DCodeGenerator
[submodule "Tools/BansheeForge"]
	path = Tools/BansheeForge
	url = https://github.com/GameFoundry/B3DForge.git
[submodule "Tools/BansheeDocGenerator"]
	path = Tools/BansheeDocGenerator
	url = https://github.com/GameFoundry/B3DDocGenerator.git
