:root
{
    --PrimaryContentColor: #B2B2B2;
    --PrimaryBackgroundColor: #212121;
    --BrighterBackgroundColor: #343434;
    --PrimaryBorderColor: #1B1B1B;
    --HoverBorderColor: #1B1B1B;
    --HoverBackgroundColor: #2D2D2D;
    --HoverColor: #D3D3D3;
    --FocusColor: #FFA800;
    --PrimaryFontFamily: "Arial";
    --PrimaryFontSize: 8;
}

button
{
    min-width: 20px;
    height: 22px;
    margin-bottom: 4px;
    text-align: center;
    vertical-align: middle;
    color: var(--PrimaryContentColor);
    background-color: var(--PrimaryBackgroundColor);
    border-color: var(--PrimaryBorderColor);
    border-width: 2px;
    font-family: var(--PrimaryFontFamily);
    font-size: var(--PrimaryFontSize);
}

button:hover
{
    background-color: var(--HoverBackgroundColor);
    border-color: var(--HoverBorderColor);
}

button:focus
{
    border-color: var(--FocusColor);
}

button:active
{
    background-color: var(--FocusColor);
    border-color: var(--FocusColor);
    color: #000000;
}

button:checked
{
    background-color: var(--FocusColor);
    border-color: var(--FocusColor);
    color: #000000;
}

button.Button
{

}

label
{
    height: 14px;
    min-width: 10px;
    color: var(--PrimaryContentColor);
    font-family: var(--PrimaryFontFamily);
    font-size: var(--PrimaryFontSize);
}

label.Label
{

}

button.Toggle
{
    width: 13px;
    height: 15px;
    padding: 1px;
    background-color: var(--PrimaryBackgroundColor);
    border-color: var(--PrimaryBorderColor);
    border-width: 1px;
}

button.Toggle:hover
{
    background-color: var(--HoverBackgroundColor);
    border-color: var(--HoverBorderColor);
}

button.Toggle:focus
{
    border-color: var(--FocusColor);
}

button.Toggle:active
{
    background-color: var(--FocusColor);
    border-color: var(--FocusColor);
}

button.Toggle::checkmark
{
    color: var(--FocusColor);
}

button.TabbedBarBtn
{
    height: 15px;
    min-width: 24px;
    max-width: 110px;
    margin-bottom: 0px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

button.Separator
{
    border-width: 0px;
}

button.Separator:hover
{
    background-color: var(--PrimaryBackgroundColor);
}

button.Separator:focus
{
    background-color: var(--PrimaryBackgroundColor);
}

button.Separator:active
{
    background-color: var(--PrimaryBackgroundColor);
}

button.ToolBarBtn
{
    width: 32px;
    height: 32px;
    border-width: 0px;
}

label.EditorFieldLabel
{

}

container.GUIGameObjectField
{
    height: 26px;
    min-width: 30px;
}

container.GUIResourceField
{
    height: 26px;
    min-width: 30px;
}

container.GUITextureField
{
    min-height: 15px;
    min-width: 15px;
}

button.ObjectClearButton
{
    width: 16px;
    height: 22px;
    border-width: 2px 2px 2px 0px;
    background-color: var(--BrighterBackgroundColor);
}

button.ObjectClearButton:hover
{
    background-color: var(--HoverBackgroundColor);
    border-color: var(--HoverBorderColor);
}

button.ObjectClearButton:active
{
    color: var(--FocusColor);
}

button.ObjectClearButton:focus
{
    border-color: var(--PrimaryBorderColor);
}

button.ObjectDropButton
{
    border-width: 2px 0px 2px 2px;
}

button.TextureClearButton
{
    width: 16px;
    height: 16px;
    border-width: 0px;
    background-color: #00000000;
}

button.TextureClearButton:hover
{
    color: var(--HoverColor);
}

button.TextureClearButton:active
{
    color: var(--FocusColor);
}

button.TextureDropButton
{
    height: 84px;
    width: 82px;
}

button.DropDownEntryButton
{
    height: 16px;
    min-width: 30px;
    border-width: 0px;
    text-align: left;
}

button.DropDownEntryButton:active
{
    color: var(--PrimaryContentColor);
    background-color: var(--HoverBackgroundColor);
}

button.DropDownEntryUnderlay
{
    border-width: 0px;
    padding: 0px;
}

button.DropDownEntryUnderlay:active
{
    background-color: var(--HoverBackgroundColor);
}