:root
{
    --PrimaryTextColor: #B2B2B2;
    --PrimaryBackgroundColor: #212121;
    --PrimaryBorderColor: #1B1B1B;
    --HoverBorderColor: #1B1B1B;
    --HoverBackgroundColor: #2D2D2D;
    --FocusColor: #FFA800;
    --PrimaryFontFamily: "Arial";
    --PrimaryFontSize: 8;
}

button
{
    min-width: 20px;
    height: 22px;
    margin-bottom: 4px;
    text-align: center;
    vertical-align: middle;
    color: var(--PrimaryTextColor);
    background-color: var(--PrimaryBackgroundColor);
    border-color: var(--PrimaryBorderColor);
    border-width: 2px;
    font-family: var(--PrimaryFontFamily);
    font-size: var(--PrimaryFontSize);
}

button:hover
{
    background-color: var(--HoverBackgroundColor);
    border-color: var(--HoverBorderColor);
}

button:focus
{
    border-color: var(--FocusColor);
}

button:active
{
    background-color: var(--FocusColor);
    border-color: var(--FocusColor);
    color: #000000;
}

button:checked
{
    background-color: var(--FocusColor);
    border-color: var(--FocusColor);
    color: #000000;
}

button.Button
{

}

label
{
    height: 14px;
    min-width: 10px;
    color: var(--PrimaryTextColor);
    font-family: var(--PrimaryFontFamily);
    font-size: var(--PrimaryFontSize);
}

label.Label
{

}

button.Toggle
{
    width: 13px;
    height: 15px;
    padding: 1px;
    background-color: var(--PrimaryBackgroundColor);
    border-color: var(--PrimaryBorderColor);
    border-width: 1px;
}

button.Toggle:hover
{
    background-color: var(--HoverBackgroundColor);
    border-color: var(--HoverBorderColor);
}

button.Toggle:focus
{
    border-color: var(--FocusColor);
}

button.Toggle:active
{
    background-color: var(--FocusColor);
    border-color: var(--FocusColor);
}

button.Toggle::checkmark
{
    color: var(--FocusColor);
}

button.TabbedBarBtn
{
    height: 15px;
    min-width: 24px;
    max-width: 110px;
    margin-bottom: 0px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
